#TB_window {
    height: auto !important;
}

#TB_ajaxContent {
    height: auto !important;
    width: auto !important;
    padding: 20px;
}

#form-address input[type="text"] {
    width: 100%;
}

.metro-row {
    display: none;
}

.acf-input-parent {
    display: table;
    width: 100%;
}

.acf-input-left {
    display: table-cell;
    width: 65%;
}

.acf-input-right {
    display: table-cell;
    width: 35%;
    line-height: normal;
    padding-left: 10px;
}

.acf-input-left > input[type="text"] {
    cursor: pointer;
}

.acf-input-right > a {
    margin-top: -5px !important;
}